


  <main>
    <% if (messages && messages.notice) { %>
      <div class="notice"><%= messages.notice %></div>
    <% } %>

    <% if (errors && errors.length > 0) { %>
      <ul class="notice">
        <% errors.forEach(e => { %>
          <li><%= e.msg %></li>
        <% }) %>
      </ul>
    <% } %>

    <h1>You're logged in</h1>
  </main>

    